.posts-section {
    margin-top: 20px;
  }
  
  .post {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .post h4 {
    margin-top: 0;
  }
  
  .post button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 0.9em;
    cursor: pointer;
  }

  .post-card {
    padding: 5px;
    background-color:#d2d2d2;
  }

  .post-card h3 {
    font-weight: bold;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 32px;
  }
  .image-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 200px;
  }