body {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
  
  .main-page {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
  }