.post-my-container {
    background-color: rgb(255, 253, 253);
    border-radius: 32px;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 600px;
    width: 800px;
    margin-left: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .post-my-container:hover {
      transform: translateY(-5px);
      box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    }
  .post-my {
    font-family: 'Roboto', sans-serif;
    text-align: center; 
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
    color :black;
    border-radius: 32px;
  }
  .post-my-desc
  {
    color :gray;
    font-weight: bold;
  }
  .post-my .col {
    border: 2px solid #000000;
    border-radius: 32px;
    padding: 5px;
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .post-my .col:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  }
  .post-my h2 {
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
  }
  .post-my p {
    margin-bottom: 10px;
    text-align: left;
    justify-content: left;
    padding: 10px;
    font-weight: normal;
  }
  .post-my-details {
    font-style: italic;
    text-align: center;
    justify-content: center;
  }
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 32px;
  }
  .image-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 200px;
  }
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); 
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
  }
  .post-my-footer {
    margin-top: auto;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
    color: #666;
    font-size: 14px;
    text-align: center;
    width: 100%;
    border-radius: 32px;
    }
  .last-col {
    background-color: white;
  }
