.post-container {
    border: 0px solid #ccc;
    background-color: rgb(212, 212, 212);
    border-radius: 10px;
    padding: 10x;
    margin-bottom: 10px;
    margin-left: 300px;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 600px;
    width: 600px;
    margin-right: 100px;
  }
  
  .post {
    text-align: center; /* Wyśrodkowanie tekstu */
    display: flex; /* Ustawienie kontenera na flexbox */
    flex-direction: column; /* Ustawienie kierunku na kolumnę */
    height: 400px;
  }
  
.post .col {
    border: 2px solid #000000; /* Grubość i kolor ramki */
    border-radius: 10px; /* Zaokrąglenie rogów */
    padding: 5px; /* Wewnętrzny margines wewnątrz kolumn */
    margin: 10px; /* Zewnętrzny margines między kolumnami */
  }
  .post h2 {
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
  }
  
  .post p {
    margin-bottom: 10px;
    text-align: left;
    justify-content: left;
    padding: 10px;
    font-weight: normal;
  }
  
  .post-details {
    font-style: italic;
    text-align: center;
    justify-content: center;
  }
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Dopasowanie obrazka do kontenera */
    border-radius: 5px;
  }
  .image-container {
    position: relative;
    display: inline-block;
    width: 600px;
    height: 200px;
  }
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Kolor tekstu */
    font-size: 35px; /* Rozmiar tekstu */
    font-weight: bold; /* Grubość tekstu */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Cień tekstu */
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
  }
  .post-footer {
    margin-top: auto; /* Umiejscowienie stopki na dole */
    padding-top: 10px; /* Odstęp na górze stopki */
    border-top: 1px solid #ccc; /* Linia oddzielająca stopkę od treści posta */
    background-color: #f9f9f9; /* Tło stopki posta */
    color: #666; /* Kolor tekstu stopki posta */
    font-size: 14px; /* Rozmiar czcionki dla stopki posta */
    text-align: center; /* Wyśrodkowanie tekstu w stopce posta */
  }
  .last-col {
    background-color: white;
  }
  .post-footer .button
  {
    background-color: aquamarine;
  }